style
	|.left {
	| text-align: left;
	|}
	|.strong {
	| font-weight: bold !important;
	|}
	|img {
	| width: 120px;
	| border-style: none !important;
	| margin: 30px !important;
	|}
	|.middle img {
	|	vertical-align: middle;
	|}
h2 自己紹介
p.strong ZACKY (山崎 進 / 北九州市立大学 准教授)
.left
	ul
		li 北九州市立大学でプログラミングを教えています。
		li 「自ら学ぶ力を持たせる」「個性に合わせて長所を伸ばす」「現実社会の問題解決の経験を積ませる」教育を広めることがミッションです。
		li 創意工夫にあふれた社会にしたいです。
.middle
	span.strong Personal Vision Co-Creator
	img src="resources/images/ZACKY-3000.jpg"
